.top-title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 100px;
    text-align: center;
}

button {
    width: 500px;
    font-size:30px;
    color:#FFFFFF;
    text-align:center;
    display:block;
    padding:10px 10px;
    margin: 0 auto;
    background:#0d6efd;
    border-radius: 5px;
    border: none;
}

.btn1 {
    margin-bottom: 20px;
}

.btn2 {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    color: inherit;
}