
{% load static %}
<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'posts/css/bootstrap.min.css' %}" rel="stylesheet">

    {% block head %}{% endblock %}
  </head>

  <body>

    {% include 'posts/header.html' %}

    {% block contents %}{% endblock %}

    {% block footer %}{% endblock %}

    <script src="{% static 'posts/js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript" src={%static 'js/notification.js'%}>

    </script>
  </body>
</html>
