{% extends 'posts/base.html' %}


  {% block title %}{% endblock %}


{% block contents %} 
<div>
  <body class="container">
    <h1>{{title}}</h1>
    <h2>{{msg}}</h2>
        <p>{{ pulldown }}</p>
        <p>{{ text }}</p>
     </form>
     <p>あなたが回答した「 {{ kaitou_hyouzi }} 」は不正解です。。</p>
     <p>あなたが作成した答えは...</p>
     <p>{{ answer }}</p>
     <p>です!!!!</p>
     <p><a href="{{ reference }}" class="btn btn-primary">参考にしたURLへ</a></p>
     <p><a href="{% url '問題一覧ページ' %}" class="btn btn-primary">問題一覧へ</a></p>
   </body>
  </div>
{% endblock %}  