{% load static %}
<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">

    <title></title>
    <!--link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css"-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allison&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'posts/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'top/images/IMG_0016.jpeg' %}">
    

  </head>



 <body>
   <header class="page-header wrapper">
      <h1><a href="{% url 'top:top' %}"><img class="gazo" src="{% static 'posts/images/IMG_0015.PNG' %}" alt="Remind me ホーム"></a></h1>
      <nav>
          <ul class="main-nav">
            <li><a href="{% url 'create' %}">Cleate</a></li>
            <li><a href="{% url '問題一覧ページ' %}">Collection</a></li>
            <li><a href="">Account</a></li>
          </ul>
      </nav>
    </header>
<div>
  <body class="anser">
    <div class="set">too bad ...</div>
    <h1>{{title}}</h1>
    <h2>{{msg}}</h2>
        <p>{{ pulldown }}</p>
        <p>{{ text }}</p>
     </form>
     <p>あなたが回答した「 {{ kaitou_hyouzi }} 」は不正解です。。</p>
     <p>あなたが作成した答えは...</p>
     <p>{{ answer }}</p>
     <p>です!!!!</p>
     <p><a href="{{ reference }}" class="btn btn-primary">参考にしたURLへ</a></p>
     <p><a href="{% url '問題一覧ページ' %}" class="btn btn-primary">問題一覧へ</a></p>
  </body>
</div>
<footer>
    <div class="wrapper">
      <p><small>&copy; 2021 Hackthon Group1</small></p>
    </div>
</footer>
</body>
</html>