{% load static %}
<!DOCTYPE html>
<html lang = "ja-jp">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'posts/css/style.css' %}" />
</head>
<div>
  <body class="container">
  
    <h1>{{title}}</h1>
   
 
    <h2>{{msg}}</h2>
 
    <form action="{% url 'tyousen' id %}" method='post' autocomplete="off">
    {% csrf_token %}
        <p>{{ pulldown }}</p>
        <p>{{ text }}</p>
        <p>回答欄:<input type="text" name="kaitou"></p>
        <p><input type="submit" value="回答する"></p>
     </form>
   </body>
  </div>
  </html> 